@import '../../variables.scss';


button.btn-fav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.625rem;
  width: 2.625rem;
  border-radius: 100%;
  box-shadow: 0px 4px 4px 0px #0000001A;
  background-color: $color-100;
  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}