$break-sm: 480px;

$white: #FFFFFF;
$black: #000000;
$color-100: #F0F0F0;
$color-200: #B9B9B9;
$color-300: #7A7A7A;
$color-400: #515151;
$color-500: #081F32;
$color-600: #12555F;
$green: #B2DF28;
$yellow: #EEBA00;
$red: red;

$border-radius: 10px;